<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Відобразити книгу</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

  <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"
          th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="numberOfBooksByGenre" type="java.util.Map*/-->
<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h1 class="panel-title">Кількість книг по жанру</h1>
        </div>
        <div class="panel-body">

          <div class="table-responsive">
            <table class="table table-hover ">
              <thead class="thead-inverse">
              <tr th:each="instance : ${numberOfBooksByGenre}">
                <td th:text="${instance.key}">keyvalue</td>
                <td th:text="${instance.value}">num</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>